<!DOCTYPE html>
<html>
<head>
	<title>Create Post</title>
</head>
<body>
	<table>
		<tr>
			<td>
				<h4>Sabbir Ahmed</h4>
			</td>
			<td>
				<a href="">Edit</a>
			</td>
			<td>
				<a href="">Delete</a>
			</td>
		</tr>
		<tr>
			<td colspan="3">
					 Search studio Ghibli movies on Google and start watching one by one!
					Other than that, silent voice, wolf children, maquia , hall, hotarobi no morie ,, I want to eat your pancreas, when Marnie was there, the garden of words , a latter to Momo, the girl who leapt through times, colorful, perfect blue ,, Mirai ,,... ( The list is endless)
			</td>
		</tr>
	</table>
</body>
</html>