<!DOCTYPE html>
<html>
<head>
	<title>Create Post</title>
</head>
<body>
	<div>
		<div style="height: 100px"></div>
		<div style="height: 500px" align="center">
			<form method="post">
				<fieldset style="width: 30%; height: 200px;" align="left">
					<legend>Create Post</legend>
					<br>
					<table>
						<tr>
							<td>Description</td>
							<td>:</td>
							<td><textarea name="postdescription" id="postdescription" style="height: 80px; width: 100%;"></textarea></td>
						</tr>
						<tr>
							<td>Image/Video</td>
							<td>:</td>
							<td><input type="file" accept="file_extension|audio/*|video/*|image/*|media_type" name="filepath" id="filepath"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td><input type="submit" name="submit" value="Submit" id="submit"></td>
						</tr>
					</table>
				</fieldset>
		</form>
	</div>
</body>
</html>