<!DOCTYPE html>
<html>
<head>
	<title>Create Post</title>
</head>
<body>
	<div>
		<div style="height: 100px"></div>
		<div align="center">
			<div style="width: 50%;;" align="justify">
				<h1>Posts</h1>
				<h2>Ali Arman Frahim</h2>
				<p>::::::::: প্রি-অর্ডারঃ আলেয়া- আশরাফুল সুমন :::::::::

				কথায় আছে, এই আজব দেশে নাকি যে লোক জীবনে কখনো নিজের হাতে এক গ্লাস পানিও ঢেলে খায়নি, সেও জানে ফেসবুকে কীভাবে ট্রোল পোস্ট করতে হয়। জীবনের প্রথম ভৌতিক অনুষ্ঠানেই ট্রোলিং-এর শিকার হওয়া সাংবাদিক রাদিবের চেয়ে কথাটা ভালো আর কে জানে? সমস্ত অপমান ভুলে নতুন করে শুরু করতে চাইলো সে, আর দশজন সাংবাদিকের মতোই জীবন কাটিয়ে দেয়ার সিদ্ধান্ত নিলো। কিন্তু ওর কপালেই সম্ভবত লেখা ছিলো ভিন্ন কিছু।

				ভাগ্যের মারপ্যাঁচে আবারো ঐ অনুষ্ঠানের সাথে যোগ দিতে বাধ্য হলো রাদিব। খুব শীঘ্রই জানতে পারলো, দ্বিতীয় সিজন শুরু হবে এমন এক অঞ্চলের ঘটনার মাধ্যমে যেখানে গত তিন মাস ধরে রাতের বেলা হানা দিচ্ছে রহস্যময় এক আলো। জলাভূমির উপর জ্বলতে থাকা ঐ নীলাভ অগ্নিশিখা মানুষকে ডাকে ফিসফিস করে, আহ্বান করে ওকে অনুসরণ করার জন্য। আর একবার যে ওর ডাকে সাড়া দেয়, সে আর কখনো ফিরে আসে না।

				রাদিব বুঝতে পারে, এতগুলো বছর যে অন্ধকার কূপ থেকে পালিয়ে বেড়িয়েছে, আবারো তার মুখোমুখি হতে যাচ্ছে সে।

				কারণ ও ফিরে এসেছে...যার হাতে সৃষ্টি হয়েছিলো তার সেই গহীন কূপ...

				বইঃ আলেয়া
				লেখকঃ আশরাফুল সুমন
				প্রকাশনীঃ বইপিডিয়া
				পৃষ্ঠাঃ ১৬০
				প্রি-অর্ডারের শেষ সময়ঃ ১২-নভেম্বর
				প্রি-অর্ডার মূল্যঃ ১৬০ টাকা (মুদ্রিত মূল্য ২৫০ টাকা)

				** অর্ডার করতে ইনবক্স করুন। যেকোনো সংখ্যক বইয়ের জন্য ডেলিভারি চার্জ ৩০ টাকা।</p>

				<h3>Comment</h3>
				<form method="post">
					<table>
						<tr>
							<td><textarea name="description" id="description" style="height: 50px; width: 400%;"></textarea></td>
						</tr>
						<tr>
							<td><input type="submit" name="submit" value="Submit" id="submit"></td>
						</tr>
					</table>
				</form>
				<H2>Comments</H2>
				<iframe src="../comment/index.html" width="100%"></iframe>
			</div>
	</div>
</body>
</html>