<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="width: 100%;height: auto;background:rgb(0,100,0);color: white;margin-left: 1px;padding: 15px;">

		<p style="text-align: center">&copy footer</p>

	</div>
</body>
</html>