<!DOCTYPE html>
<html>
<head>
	<title>Create Event</title>
</head>
<body>
	<% if (user == null) { %>
			<% include ../header/menu_unr.ejs %>
			<% } else if(user.designation == 'OSA') { %>
			<%- include('../header/menu_osa.ejs',{user: user}) %>
			<% } else if(user.designation == 'Executive'){ %>
			<%- include('../header/menu_executive.ejs',{user: user}) %>
			<% } else if(user.designation == 'Alumni'){ %>
			<%- include('../header/menu_alumni.ejs',{user: user}) %>
			<% } else { %>
			<%- include('../header/menu_GM.ejs',{user: user}) %>
			<% } %>
	<div>
		<div style="height: 100px"></div>
		<div style="height: 500px" align="center">
			<form method="post">
				<fieldset style="width: 30%; height: 240px;" align="left">
					<legend>Create Event</legend>
					<br>
					<table>
						<tr>
							<td>Event Title</td>
							<td>:</td>
							<td><input type="text" name="eventname" id="eventname"></td>
						</tr>
						<tr>
							<td>Description</td>
							<td>:</td>
							<td><textarea name="eventdescription" id="eventdescription" style="height: 80px; width: 150%;"></textarea></td>
						</tr>
						<tr>
							<td>Expire Date</td>
							<td>:</td>
							<td><input type="date" name="expiredate" id="expiredate"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td><input type="submit" name="submit" value="Submit" id="submit"></td>
						</tr>
					</table>
				</fieldset>
		</form>
	</div>
	</div>
</body>
</html>